---
const { title, description, link, imageSrc, icon } = Astro.props;
---

<a href={link} class="h-[12em] border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-[rgba(75,30,133,1)] to-[rgba(75,30,133,0.01)] text-white p-[1em] flex justify-center items-left flex-col gap-[0.75em] backdrop-blur-[12px] card">
    {imageSrc && <img src={imageSrc} alt={title} class="card-image" />}
    <div class="card-content">
        {icon && <i class={`fas fa-${icon} card-icon`}></i>}
        <h2 class="card-title">{title}</h2>
    </div>
    <p class="card-description">{description}</p>
</a>

<style>
.card {
    @apply block p-4 rounded-lg;
    filter: drop-shadow(0px 0px 3px rgba(209, 38, 197, 0.5));
    transition: 0.3s ease;
}

.card:hover {
    filter: drop-shadow(0px 0px 5px rgba(209, 38, 197, 1));
}

.card-image {
    @apply w-full h-32 object-cover rounded-t-lg mb-4;
}

.card-content {
    @apply flex items-center mb-2;
}

.card-icon {
    @apply text-2xl mb-2;
    color: #00bcd4;
}

.card-title {
    @apply flex-1 text-[1.5em] font-bold text-center text-slate-200;
}

.card-description {
    @apply text-sm text-slate-300;
}
</style>