---
const { title, description, link, imageSrc, icon, color = "text-purple-400" } = Astro.props;
---

<a href={link} class="min-h-[12em] bg-slate-800/30 rounded-lg p-6 border border-slate-700 flex justify-center items-left flex-col gap-[0.75em] card">
    {imageSrc && <img src={imageSrc} alt={title} class="card-image" />}
    <div class="card-content">
        {icon && <i class={`fas fa-${icon} card-icon ${color}`}></i>}
        <h2 class={`card-title ${color}`}>{title}</h2>
    </div>
    <p class="card-description">{description}</p>
</a>

<style>
@reference "../styles/global.css";
.card {
    @apply block;
    transition: 0.3s ease;
}

.card:hover {
    @apply border-fuchsia-600 shadow-fuchsia-700/40 shadow-md;
}

.card-image {
    @apply w-full h-32 object-cover rounded-t-lg mb-4;
}

.card-content {
    @apply flex items-center mb-2;
}

.card-icon {
    @apply text-2xl mb-2 mr-1;
}

.card-title {
    @apply flex-1 text-[1.5em] md:text-[1.2em] font-bold text-center;
}

.card-description {
    @apply text-sm text-slate-400;
}
</style>